body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #141414;
    color: #e5e5e5;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f40612;
}

.hidden {
    display: none;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

h2 {
    margin-bottom: 20px;
}
